.main-menu{
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-menu{
    width: 85%;
    height: 100px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu h2, .venta-id, .venta-total{
    padding: 20px;
}

.venta-id, .venta-total{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.venta-id input{
    width: 100%;
}

.venta-total p{
    margin: 0;
}

.tabla {
    width: 85%;
    border-collapse: collapse;
}

.listado-info th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.listado-info td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}